doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Pug
        style.
            form{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input{
                height: 40px;
                width: 300px;
                text-align: center;
                margin: 5px;
            }
            
    body 
        form(method="post" class="input-container")
            input(type="text" placeholder="Ingresa el nombre del producto" name="nombre" required)
            input(type="number" placeholder="Ingresa el precio del producto" name="precio" required)
            input(type="text" placeholder="Ingresa la descripcion del producto" name="descripcion" required)
            input(type="submit" value="Agregar producto")