head 
    style. 
        form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input{
            height: 40px;
            width: 300px;
            text-align: center;
            margin: 5px;
        }
body 
    form(method="post")  
        input(type="text" name="nombre" placeholder="Ingrese el nombre del producto" required)
        input(type="number" name="precio" placeholder="Ingrese el precio del producto" required)
        input(type="text" name="descripcion" placeholder="Ingrese la descripcion del producto" required)
        input(type="submit" value="Agregar Producto" required)
