<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="../style/style.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My App</title>
        <style>
            .input-container{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .input-container input{
                height: 40px;
                width: 300px;
                text-align: center;
                margin: 5px;
            }
            
        </style>
    </head>
    <body>
        <form  class="input-container" method="POST">
            <input type="text" name="nombre" placeholder="Ingrese el nombre del producto" required/>
            <input type="number" name="precio" placeholder="Ingrese el precio del producto" required/>
            <input type="text" name="descripcion" placeholder="Ingrese la descripcion del producto" required/>
            <input type="submit" value="Agregar producto"/>
        </form>
    </body>
</html>