
<style>
    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }

    .input-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-container input{
        height: 40px;
        width: 300px;
        text-align: center;
        margin: 5px;
    }

    .listado-container{
        text-align: center;
        margin: 15px;
    }

    .listado-container ul h3{
        margin-top: 10px;
    }

    .lista-productos{
        list-style: none;
        margin: 10px;
    }
</style>


<div class="listado-container">
    <h1>Lista de productos: </h1>
    <ul>
        {{#if productos.length}}
        {{#each productos}}
            <li class="lista-productos">Nombre: {{this.nombre}} - Precio: ${{this.precio}} - Descripcion: {{this.descripcion}}</li> 
        {{/each}}
        {{else}}
            <h3>No hay productos en la lista!</h3>
        {{/if}}
    </ul>
   
<form  class="input-container" method="POST">
    <input type="submit" value="Agregar otro producto">
</form>

</div>
